h1{
    color: red;
    font-family: sans-serif;

}

.Portrait {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#home-page {
    color: maroon;
    display: flex;
    justify-content: center;
    align-items: center;
}

#kevin-img {
    height: 250px;
    width: auto;
    
    object-fit:cover;
}