a {
	margin: 5px;
	color: red;
}

p {
    margin: 0.25em;
	text-decoration: none;
}

/* Section below contains the formatting for specific classNames*/
.PageTitle {
	display: flex;
	justify-content: center;
	align-items: center;
	color: red;
	margin-top: 2vw;
}

.Portrait {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vw;
}

/* Section below contains the formatting for specific ids */
#kevin-img {
    height: 300px;
    width: auto;
    border-radius: 75%;
    object-fit:cover;
}

#home-page {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#brief {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
	text-align: center;
}

#links {
	font-size: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	
}

#project-holder {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 1vw;
	width: auto;
	height: 100%;
}